body{
    padding-top: 130px;
    padding-bottom: 40px;
}

.form-login{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 2px solid #c0c0c0;
    background-color: white;
}

.form-login .form-login-heading{
    margin-bottom: 20px;
    text-align: center;
}

.form-login .form-control{
    position: relative;
    height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.form-login .form-control:focus{
    z-index: 10;
}